body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; 
}

header {
    background: #663a0f;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.form {
height: 600px;
text-align: center;
}

.newtovar {
    text-align: center;
    color: white;
    padding: 20px 0 10px 0;
}

h1 {
    margin: 0;
}

#category-select {
    margin-top: 10px;
    width: 120px;
    height: 30px;
    background-color: #e1c9b1;
}

main {
    padding: 20px;
}

#product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    text-align: center;
    justify-content: center;
}

.product-card {
    background: #8e5a25;
    color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 190px;
    font-size: 12px;
}

.conteiner {
    background-color: #8e5a25;
    height: auto;

}

.moreButton {
    text-align: center;
}
.buttonMore {
    background-color: #663a0f;
    color: white;
    height: 50px;
    width: 150px;
    font-size: 18px;
    margin: 20px 0 20px 0;

}

.product-card img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

#add-product-form {
    margin-top: 20px;
    text-align: center;
    height: auto;
    padding-bottom: 20px;
}

#message {
    margin-top: 20px;
    color: green;
}

.delete-button {
    background-color: white;
    color: #372008;
}
